body {
    font-family: 'Noto Sans KR', sans-serif;
}

/*네비게이션 영역*/
.nav{
    font-family: 'Gowun Dodum';
    font-style: #705C54;
}
.navbar{
    background-color: #FFFDE8;
}
.navbar-brand{
    font-family: 'Gowun Dodum';
    font-size: small;
    font-style: #705C54;
}

/*메뉴 영역*/
#menu{
    font-family: 'Gowun Dodum';
    font-style: #705C54;
}
.link{
    font-style: #705C54;
}

/*이달의 꽃 영역*/
.c{
    font-family: 'Gowun Dodum';
    font-style: #705C54;
    font-size: 16px
}
.k{
    font-family: 'Noto Sans KR';
    font-style: #595959;
    font-size: 14px
}

/*이달의 꽃 메인*/
.f{
    font-family: 'Noto Sans KR';
    font-size: small;
}

/*꽃말 키워드*/
.b{
    background-color: #FFFDE8;
}

.card-hover:hover {
    background-color: #f7e3ab56;
}
.q{
    font-family: 'Gowun Dodum';
    font-size: 25px;
}

/**/
#last{
    font-family: 'Noto Sans KR';
    font-size: 15px;
}

.w{
    font-family: 'Noto Sans KR';
    font-size: 13px;
    background-color: #FFFDE8;
}

/*top버튼*/
.btn{
    background-color: #FFE699;
    font-family: 'Gowun Dodum';
    --bs--btn-hover-color: #FFE699;
    --bs-btn-hover-bg: #FFE699;
    --bs-btn-hover-border-color: #FFE699;
    --bs-btn-focus-shadow-rgb: #FFE699;
    --bs-btn-active-color: #FFE699;
    --bs-btn-active-bg: #FFE699;
    --bs-btn-active-border-color:#FFE699;
}

#bar{
    font-family: 'Gowun Dodum';
    font-size: 18px;
}

/*talk*/
#talk{
    font-family: 'Noto Sans KR';
    font-size: 13px;
}
#comment{
    background-color: #FFFDE8;
    font-family: 'Noto Sans KR';
    font-size: 15px;
}

.modal{
    font-family: 'Gowun Dodum';
    font-size: 17px;
}

/*month*/
.list-group{
    font-family: 'Gowun Dodum';
    font-size: small;
}
.m_head{
    font-family: 'Gowun Dodum';    
    font-weight: 600;
}
.m_body{
    font-family: 'Noto Sans KR';
}


/*감사*/
.card-title{
    font-family: 'Gowun Dodum';
    font-weight: bold;
}
.card-text{
    font-family: 'Noto Sans KR';
}
